<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Josefin+Sans&family=Play&family=Poppins:ital,wght@0,400;0,700;1,300&family=Roboto&family=Roboto+Condensed&family=Rubik+Pixels&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/detail.css">
    <title>Detail</title>
</head>
<body>
    <div class="container my-5">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <img class="profilepic mt-5" src="img/aaa.jpg" width="50px" height="50px">
                <div>
                    <h3 class="card-title mt-2 ms-1">Time Capsule Title</h3>
                    <a class="mt-5 ms-2 username" href="">@kevin100<a class="ms-2 fw-bold" href="">Subscribe</a></a>
                    <p class="card-subtitle mb-2 ms-2">Opening Date: September 30, 2023</p>
                </div>
            </div>
        <div>
            <button class="icbu mb-1">
                <i class="bi bi-hand-thumbs-up icons"></i></button>
            <button class="icbu mb-1"><i class="bi bi-hand-thumbs-up-fill icons"></i></button>
        </div>
                
        </div>
            <div class="card-body">
                <p class="card-text mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At hic omnis aperiam porro obcaecati. Odit porro rerum consequuntur pariatur, voluptate rem cum error quasi soluta, veritatis ad vero eveniet. Aliquid.<br>
                Description of the time capsule. This is where you can provide detailed information about the content and purpose of the time capsule. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam cum, officiis reprehenderit laudantium, tenetur eum aperiam totam beatae ad qui laborum voluptates obcaecati! Tenetur, dicta architecto. Est unde deleniti quae.</p>
    
                <!-- Content Section (Add more as needed) -->
                <h5 class="mt-4">Contents:</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><img class="img" src="img/triangles-1430105_1280.png"></li>
                    <li class="list-group-item"><video width="752" height="240" controls>
                        <source src="video/video.mp4" type="video/mp4">
                        <source src="movie.ogg" type="video/ogg">
                        Your browser does not support the video tag.
                      </video></li>
                    <li class="list-group-item"><audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                        Your browser does not support the audio tag.
                      </audio></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>