{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registration.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>registration</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Vector and Description Section -->
            <div class="col-md-6 p-5 bg-dark text-white">
                <h1>Welcome to Virtual Time Capsules</h1>
                <p class="lead">Preserve your memories for the future with our secure time capsule service.</p>
                <div class="d-flex justify-content-center">
                    <img src="{% static 'svg/monitor-svgrepo-com.svg'%}" alt="registration" width="450px" height="450px">
                </div>
                <!-- Add your vector or image here -->
            </div>
            
            <!-- Registration Form Section -->
            <div class="col-md-6 p-5">
                <h2 class="mb-4">Create an Account</h2>
                <form method="post" action="{% url 'accounts:user_register' %}">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


</body>
</html>